h1 {
    font-size: 15rem !important;
    line-height: 18rem;
    letter-spacing: 1rem;
    #wolf_txt {
        font-family: 'Doom 2016 Left', sans-serif;
        display: inline-block;
    }
    #a_txt {
        display: inline-block;
        font-family: 'Doom 2016 Text', sans-serif;
    }
    #tron_txt {
        display: inline-block;
        font-family: 'Doom 2016 Right', sans-serif;
    }

}

:host {
    background: none;
    background-color: #000 !important;
    background-image: url("/assets/Wolfatron.png");
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
}