h1 {
    font-size: 15rem !important;
    line-height: 18rem;
    letter-spacing: 4px;
    #wolf_txt {
        font-family: 'Doom 2016 Left', sans-serif;

    }
    #a_txt {
        font-family: 'Doom 2016 Text', sans-serif;
    }
    #tron_txt {
        font-family: 'Doom 2016 Right', sans-serif;
    }

}